@model YelpSharp.Data.User

<fieldset>
    <legend>User</legend>

    <div class="display-label">image_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image_url)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>
</fieldset>
